$primary: rgba(41, 30, 82, 1) !important;
$secondary: rgba(89, 81, 145, 1) !important;
$background: rgba(21, 21, 45, 1) !important;
$accent: rgba(241, 212, 18, 1) !important;
$accent-dark: rgba(148, 130, 12, 1) !important;
$font: rgba(246, 246, 246, 1) ;
$font-dark: rgba(168, 168, 168, 1);