$primary: rgba(41, 30, 82, 1) !important;
$secondary: rgba(89, 81, 145, 1) !important;
$background: rgba(21, 21, 45, 1) !important;
$accent: rgba(241, 212, 18, 1) !important;
$accent-dark: rgba(148, 130, 12, 1) !important;
$font: rgba(246, 246, 246, 1) ;
$font-dark: rgba(168, 168, 168, 1);

$h1-font-size: 3.815rem;
$h2-font-size: 3.052rem;
$h3-font-size: 2.441rem;
$h4-font-size: 1.953rem;
$h5-font-size: 1.563rem;
$h6-font-size: 1.25rem;
$p-font-size: 1rem;
$lead-font-size: .8rem;